<a href="https://colab.research.google.com/github/YemiAtta/Wealthy_Nations-Excel-Tableau/blob/main/day3_data_analysis_pandas_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Flight delays- Data Exploration and Analysis with Pandas

Problem: Our dataset contains data from the Bureau of the United States of transportation about the arrival, delay, and cancellation of domestic flights from July 2019 to July 2022. We will investigate and highlight which airlines and airports have the most delay and cancellation over time. We will also analyse the causes of the delays and cancellation.

## 1-Data Exploration
The first step of any data analysis is to explore your data with key Pandas commands:

Import the Pandas library only onced in your script:

In [ ]:
#put you code below:
import pandas as pd

The dataset has 3 CSV files, let's import them all one by one, named them df1 to df3:

In [ ]:
#put you code below:
df1 = pd.read_csv("Flights_Delay_Cause_2019-2020.csv")
df2 = pd.read_csv("Flights_Delay_Cause_2020-2021.csv")
df3 = pd.read_csv("Flights_Delay_Cause_2021-2022.csv")

The dataset contains data from US domestic flights from July 2019 to July 2022, and consists of the following fields:

- year: the year of the flight
- month: the month of the flight
- carrier: the 2 letters abbreviation for the airline
- carrier_name: the complete name of the airline
- airport: the 3 letters Airport code
- airport_name: the airport full name
- arr_flights: number of arrived flights ontime
- arr_del15: number of delayed flights (flights are considered delayed after 15 minutes of the arrival time)
- arr_cancelled: number of cancelled flights
- arr_diverted: number of diverted flights
- arr_delay: number of delayed flights
- carrier_delay: number of flights delayed caused by the carrier
- weather_delay: number of flights delayed caused by the weather
- nas_delay: number of flighst delayed caused by the National Aviation System
- security_delay: number of flights delayed due to security issues

Let's explore the 5 first rows of the dataframe named df1:

In [ ]:
#put you code below:
df1.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay
0,2022,7,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",33.0,2.0,0.0,0.0,129.0,98.0,23.0,8.0,0.0
1,2022,7,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",78.0,25.0,0.0,0.0,1664.0,887.0,52.0,224.0,0.0
2,2022,7,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",124.0,19.0,5.0,4.0,1523.0,388.0,35.0,511.0,0.0
3,2022,7,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",67.0,10.0,0.0,1.0,657.0,103.0,82.0,93.0,25.0
4,2022,7,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",174.0,30.0,1.0,0.0,2462.0,1686.0,310.0,139.0,0.0

Similarly, explore the 5 last rows of df1:

In [ ]:
#put you code below:
df1.tail()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay
1675,2022,7,YX,Republic Airline,STL,"St. Louis, MO: St Louis Lambert International",131.0,26.0,6.0,0.0,2054.0,501.0,361.0,298.0,0.0
1676,2022,7,YX,Republic Airline,SYR,"Syracuse, NY: Syracuse Hancock International",149.0,35.0,2.0,0.0,2198.0,679.0,139.0,425.0,0.0
1677,2022,7,YX,Republic Airline,TUL,"Tulsa, OK: Tulsa International",10.0,2.0,0.0,0.0,135.0,8.0,0.0,11.0,0.0
1678,2022,7,YX,Republic Airline,TVC,"Traverse City, MI: Cherry Capital",98.0,13.0,1.0,0.0,950.0,162.0,0.0,291.0,0.0
1679,2022,7,YX,Republic Airline,XNA,"Fayetteville, AR: Northwest Arkansas Regional",56.0,13.0,3.0,0.0,1180.0,120.0,0.0,318.0,0.0

Since our dataset has 3 CSV files, for convenience let's combine all files in one document
using the .concat() method, explore the official documentation of the .concat() method to find out
how to use it properly, read examples: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

In [ ]:
#put you code below, make sure the index of the combined dataset is starting from 0:

Let's explore the first few rows of the whole dataset:

In [ ]:
#put you code below:

How many rows and columns the dataset has?

In [ ]:
#put you code below:

Use the .info() medthod to finds out the number of rows and columns, the data types of each columns, the number of non-missing values (non-null), memory usage. Columns that contains strings datat (or mixed datatypes) will be recognised as Object in Pandas.

In [ ]:
#put you code below:

Make sure to check whether columns containing numerical values need to be converted as numeric for proper downstream analyses.

Alternatively, we can use the attribute shape to have only returned the number of rows and columns:

In [ ]:
#put you code below:

The attribute dtypes will return only the data types of each column:

In [ ]:
#put you code below:

We can quickly run some statistics with the describe() function:

In [ ]:
#put you code below:

Note: the 'year' and 'month' columns are seen as numerical values (they have the float datatype, as seen with the info() function). Hence, they will appear in the summary stats when using the describe() function. We would need to assigned to both the datetime datatype to be properly seen as dates.

## 2.Data tranformation:

After exploring the dataset variables, some data transformation might be needed.

From the previous method used .info() we could see that the year and month are both float data types. To work efficiently with dates in Pandas, they need to be converted into a date datatype. This is done by using the .todatetime() method as followed:

Before doing any modications to our dataframe, we will create a copy to not modify yet the original dataset in case we insert an error and cannot remove it. If you make an error in the original dataset without creating a copy you will need to restart the Python intrepreter to clear data in memory and re-run your script from the start.

In [ ]:
df_copy= df.copy(deep=True)

We could convert the year and month directly to date datatype but by default, the function will give us a day and month number associated to each date, which is not what we want to insert a wrong day and month

In [ ]:
df_copy['year'] = pd.to_datetime(df_copy['year'])
df_copy.head()

We can create a new column named "date" to store the date which will have the "month" and "year" from our dataset. We can concatenate our 2 columns month and year using the "+" sign:

In [ ]:
df_copy['date']= df_copy['month']+df_copy['year']
df_copy.head()

It looks like our new date column contain the wrong date in it, this is because the month has been added to the year since they are both integers data types!
To overcome this problem, we need to change the month and year datatypes to a string.
The .astype() method is used to cast pandas datatype to others:

In [ ]:
#First, let's convert the month and year into a string datatype so we can concatenate them afterall:
#We need to use the .astype() methodf to convert data in Pandas
df_copy=df_copy.astype({"month": str, "year":str, "date":str})
df_copy.info()

Now our month and year column have been well transformed to a string data type called object in Pandas

In [ ]:
#alternative method to convert datatypes in Pandas:
df_copy['month'].astype(str)
df_copy['year'].astype(str)
df_copy['date'].astype(str)

In [ ]:
df_copy['date']= df_copy['year']+"-"+df_copy['month']
df_copy.head()

Now our new column named date have the right format with the year followed by the month.

Using the Pandas function .to_datetime() we can transform at once the date into a datetime datatype:

In [ ]:
df_copy['date'] = pd.to_datetime(df_copy['date'])
df_copy.info()

In [ ]:
df_copy.head()

We can see from the column 'data' that we could assign datatime as datatype to the 'date' column, but doing this we also introduced by default a day number, here '01'. To overcome this we would beed to use an additonal function to get only the month and the year with a correct date format.

In [ ]:
df_copy['date']= pd.to_datetime(df_copy['date']).dt.to_period('M')
#.dt.to_period('M') converts the datetime values into a PeriodIndex with a monthly frequency (period)

In [ ]:
df_copy.head()

In [ ]:
df_copy.info()

The 'date' column was assigned the 'period' datatype which is another date fromat used in pandas.

Our new column "date" as been well created. Let's save it in our working folder:

In [ ]:
df_copy.to_csv('flights_dataset.csv')

Note: in the event you work with a dataset that has a column containing the full date named "date" for instance, you can set the date column to the datatype datetime directly when importing your dataset with Pandas using the argument "parse_dates" when calling the Pandas function such as: df=pd.read_csv("datafile", parse_dates=["date"])
This will give you a date format with days, months, and years by default

Let's removed unwanted columns, the month and year columns, using the medthod .drop():

In [ ]:
#put you code below:

The columns month and year has been well removed.

## 3-Data Cleaning
The next step after exploring our dataset and correct some of the datatypes we did would be to clean the dataset

Let's check how many missing values our dataset has using the isnull() and sum() function:

In [ ]:
#put you code below:

We can see see that missing values are presents in columns associated with numerical values and also in the carrier name. Missing data from the columns that contain important information on the name of the carrier or arilaine names that we are not able to identify can cause issues in our downstream analysis. We will me removed those for now since we cannot identify them.
Replacing missing values should always be case specific!

let's remove missing values from the carrier name:

In [ ]:
#put you code below:

Let's verify the dataframe don't have any missing values left:

In [ ]:
#put you code below:

### Let's check the distribution of the data:

if you don't recall the name of the variables, use the following command to quickly get their names:

In [ ]:
df_copy.columns

We can check the data distribution to see if we get outliers in columns with numerical values using the built-in box_plot function in Pandas:

we apply the method .box_plot to our dataframe named "df"

In [ ]:
%matplotlib inline

In [ ]:
df_copy.boxplot("weather_delay")

let's reuse the boxplot using a function:

In [ ]:
#We create a function that will return a box plot:
def box_plot(flights):
    return df_copy.boxplot(flights)

In [ ]:
#We call our function passing a data variable as argument:
box_plot('nas_delay')

Call the function again to check other variables.

In [ ]:
# Identify and remove the row with the outlier
outlier_index= df_copy[df_copy['nas_delay']>175000].index
df_cleaned= df_copy.drop(outlier_index)

In [ ]:
outlier_index # we used the .index attribute to get the row number of our outlier

In [ ]:
df_cleaned.boxplot('nas_delay')

We can see from the above boxplot that the outliser has been well removed.

Using the Python Matplotlib visualisation library, we can plot several plots at once using the subplots() function:

Let's import the Matplotlib library to use it

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
figure, ax = plt.subplots(nrows=2, ncols=1) # subplot layer has 2 rows an 1 column which means 2 figures
df_cleaned.hist('weather_delay',ax=ax[0], bins=25, color="purple")
df_cleaned.boxplot("weather_delay",ax=ax[1], color="blue")

Same as before, but saved into a function to reuse:

In [ ]:
def subplot_function(data1, data2):  # I added one parameter per plot
    figure, ax = plt.subplots(nrows=2, ncols=1)

    # Get statistics
    min_val= df_cleaned[data1].min()
    max_val= df_cleaned[data1].max()
    mean_val= df_cleaned[data1].mean()
    med_val= df_cleaned[data1].median()

    # Add lines for the min, mean and median, and max
    ax[0].axvline(x=min_val, color = 'gray', linestyle='dashed', linewidth = 2)
    ax[0].axvline(x=mean_val, color = 'cyan', linestyle='dashed', linewidth = 2)
    ax[0].axvline(x=med_val, color = 'red', linestyle='dashed', linewidth = 2)
    ax[0].axvline(x=max_val, color = 'blue', linestyle='dashed', linewidth = 2)

    #Change labels- 1st plot
    ax[0].set_ylabel('Frequency')

    df_cleaned.hist(data1,ax=ax[0], bins=10, color="purple")


    #Change labels- 2nd plot
    ax[1].set_xlabel('')
    ax[1].set_ylabel('Frequency')


    df_cleaned.boxplot(data2,ax=ax[1], color="blue")

In [ ]:
subplot_function('nas_delay',"nas_delay")

## 4-Data Analysis

#### Q1-Which Airlines has the most delayed flights?

We can group the airline data and calculate the average of delayed flights per airline using the .groupby() method and mean() function

In [ ]:
#put you code below:

we can see how many airlines has been grouped with the function .size():

In [ ]:
#put you code below:

next we calculate the mean of the delayed flights per airline:

In [ ]:
#put you code below:

each arilines have associated the mean of deyalyed flights.

Let's plot the data using the Matplotlib and Seaborn visualisation libraries:

Always import a library prior to use it (only once in your script!):

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

prior any plotting let's sort the data and use a barplot to plot the data to find out which airline has the most delayed flights:

In [ ]:
#put you code below:

#### Q2-Which Airline is the most affected by both delayed and cancelled flights?

let's use a similar approach as the previous analysis with the groupby() method and ploting the relevant data:

In [ ]:
#put you code below:

Let's investigate what could be the cause of the delayed of that company based on the data we have.

#### Q3-What are the main cause of flights cancellations and delays for the company Southwest Airlines Co.?

Let's isolate data from the Southwest Airlines Co. to look at the causes. To do this we need to search for the company name in carrier_name column and isolate all columns related to that carrier.

In [ ]:
df_cleaned["carrier_name"].str.contains("Southwest Airlines Co.")

In [ ]:
df_SW_airline=df_cleaned[df_cleaned["carrier_name"].str.contains("Southwest Airlines Co.")]

In [ ]:
df_SW_airline.head()

In [ ]:
# To confirm we have well isolated one carrier only:
count=df_SW_airline["carrier_name"].nunique()
print(count)

In [ ]:
# To confirm we have well isolated one carrier only- alternative method:
df_SW_airline["carrier_name"].value_counts()

In [ ]:
df_SW_airline.keys() # same as the .columns attribute

In [ ]:
df_SW_subset=df_SW_airline[["carrier_delay","weather_delay","nas_delay","security_delay"]] # We are selecting only the columns related to causes of delay

In [ ]:
df_SW_subset.head()

In [ ]:
sum_data=df_SW_subset.sum()
sum_data

In [ ]:
sum_df= sum_data.to_frame()
sum_df

In [ ]:
sum_df=sum_df.rename(columns={0: 'causes'})
sum_df

plot the data to reply to the question

#### Q4-What are the main cause of flights cancellation and delays among the different airlines?

Use previous function and visualisation library to reply to this question

In [ ]:
#put you code below: